@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&family=Open+Sans:wght@400;600;700&family=Poppins&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');


:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  background-color: var(--bgColor);
}

a{
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--second);
  text-decoration: none;
}